.container-fluid {
    background-color: forestgreen;
    color: white;
}

.nav-link, .navbar-brand {
    color: white;
}


.containerT {
    margin-top: 20px;
}

    .containerT a {
        background-color: forestgreen;
    }

        .containerT a:hover {
            background-color: limegreen;
        }

.footer {
    height: 50px;
    background-color: forestgreen;
}

.containerFooter {
    color: white;
    padding-left: 20px;
    padding-top: 10px;
}

.welcome {
    padding-left: 50px;
}

.btn btn-primary {
    background-color: forestgreen;
}

.table td {
    max-width: 200px; /* Adjust the width as needed */
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.content-cell {
    max-width: 300px; /* Adjust as needed */
    word-wrap: break-word; /* Allows the content to wrap to the next line */
    white-space: normal;
}

.logout {
    margin-top: 1px;
    background-color: red;
    border: 1px solid;
    box-shadow: 10px,10px,#000f;
    border-radius: 15px;
    text-align: center;
}

    .logout:hover {
        background-color: white;
        color: red;
    }

.custom {
    width: 700px;
    background-color: lightgrey;
}

.message-content {
    white-space: pre-wrap;
    word-wrap: break-word;
    overflow-wrap: break-word;
}
