@{
    Layout = "~/Views/Shared/_LayoutTenant.cshtml";
    var userName = ViewBag.UserName;

}

<body>
   
    <div class="container">
        <h1>Welcome, @userName!</h1>

        <div class="containerT">
            <h3>Appartments</h3>
           <a asp-action="Sort" asp-controller="Apartments" class="btn btn-primary">View Apartments</a>
        </div> 
           
        <div class="containerT">
            <h3>Appointments</h3>
            <a asp-action="TenantAppointments" asp-controller="Appointments" class="btn btn-primary">View Appointments</a>
        </div>     
           
        <div class="containerT">
            <h3>Messages</h3>
            <a asp-action="ViewReceivedMessagesForTenants" asp-controller="Messages" class="btn btn-primary">Message Center</a>
            <a asp-action="SendMessage" asp-controller="Messages" class="btn btn-primary">Create Message</a>
        </div>

    </div>
</body>

